In [7]:
import pandas as pd
df = pd.read_csv('/Users/nirmalkaluvai/Downloads/orders.csv')
df.head()

   order_id  customer_id  payment order_date delivery_date
0         1           64    30811  2021-8-30    2021-09-24
1         2          473    50490   2021-2-3    2021-02-13
2         3          774    46763  2021-10-8    2021-11-03
3         4          433    39782   2021-5-6    2021-05-19
4         5          441    14719  2021-3-23    2021-03-24

In [11]:
max_val= df["payment"].quantile(.95)
max_val

57008.299999999996

In [12]:
df[df['payment']>max_val]

     order_id  customer_id  payment  order_date delivery_date
12         13          204    57810  2021-10-15    2021-10-31
28         29          993    57645   2021-3-22    2021-03-28
29         30          260    59350    2021-7-7    2021-07-26
77         78          681    58179   2021-5-13    2021-05-29
79         80          872    59554   2021-4-26    2021-05-20
99        100          817    57063   2021-3-30    2021-04-16
106       107          127    58760   2021-1-11    2021-02-03
116       117          971    58134    2021-1-8    2021-01-23
136       137          298    58875  2021-10-18    2021-10-20
174       175          309    57197   2021-3-22    2021-04-16
198       199          206    58054   2021-5-17    2021-05-18
206       207          644    57755   2021-9-25    2021-09-28
230       231          731    58824   2021-3-20    2021-04-09
237       238          328    59828   2021-3-17    2021-03-27
253       254          571    57662    2021-8-7    2021-09-03
265       266          623    58746   2021-3-10    2021-03-20
298       299          994    58159   2021-1-12    2021-02-03
302       303          758    58670    2021-9-2    2021-09-11
315       316          179    59876   2021-9-12    2021-09-20
328       329          820    58708   2021-4-30    2021-05-24
362       363          882    57405   2021-1-25    2021-02-21
389       390          206    57651   2021-1-20    2021-01-24
395       396          461    57491   2021-2-26    2021-03-03
398       399          331    57278  2021-10-21    2021-10-30
413       414          212    57052    2021-1-2    2021-01-03
423       424          551    58723   2021-3-13    2021-03-18
441       442          693    58324   2021-3-24    2021-03-30
446       447          100    59708   2021-1-10    2021-01-23
481       482          111    59910    2021-8-3    2021-08-09
501       502          485    57115   2021-2-18    2021-03-07
503       504          192    57782   2021-1-13    2021-02-08
597       598          638    59393   2021-6-20    2021-07-05
618       619          225    58688   2021-2-25    2021-03-04
671       672          677    59213   2021-2-12    2021-02-25
677       678          711    57891   2021-4-28    2021-05-14
682       683          276    59748    2021-1-1    2021-01-05
698       699          311    58950   2021-1-29    2021-02-12
720       721          755    59414   2021-8-28    2021-09-04
737       738          144    57487   2021-7-16    2021-08-09
739       740          178    58226    2021-2-5    2021-02-10
749       750          758    58084   2021-2-19    2021-03-01
786       787           44    59055   2021-7-18    2021-07-31
800       801          995    58829    2021-8-2    2021-08-17
845       846          515    58585   2021-9-17    2021-10-10
904       905          439    57884   2021-1-11    2021-01-23
910       911          189    58886   2021-8-23    2021-09-06
951       952          883    57857    2021-8-5    2021-08-25
979       980           84    57728  2021-10-19    2021-11-14
984       985          581    59558    2021-2-7    2021-02-09
993       994          920    59074   2021-7-15    2021-07-17

In [14]:
min_val = df["payment"].quantile(.05)
df[df['payment']<min_val]

     order_id  customer_id  payment  order_date delivery_date
20         21          124    11261    2021-4-4    2021-04-17
52         53          528    10517   2021-4-22    2021-05-02
69         70          802    11279   2021-5-15    2021-05-26
87         88          567    10904   2021-7-19    2021-08-15
89         90          809    11475   2021-6-13    2021-07-07
103       104          366    11454    2021-6-5    2021-06-23
131       132          562    10396   2021-4-17    2021-05-01
138       139          871    11224   2021-6-15    2021-06-28
154       155          834    11166   2021-6-30    2021-07-18
162       163           84    11473   2021-6-12    2021-06-17
165       166          113    11914   2021-7-11    2021-07-14
176       177          315    11314   2021-8-20    2021-09-01
227       228          773    10857    2021-1-6    2021-01-17
251       252          683    11465   2021-1-11    2021-02-05
286       287          799    10368    2021-9-9    2021-10-03
288       289          977    10046   2021-1-26    2021-02-16
322       323          852    11437   2021-3-23    2021-04-13
323       324           99    10411    2021-7-5    2021-07-16
326       327          710    11611   2021-7-28    2021-07-31
442       443          966    10043    2021-3-9    2021-03-27
465       466          628    11363   2021-6-10    2021-07-05
485       486          643    10132   2021-4-27    2021-05-08
489       490          816    11291   2021-9-15    2021-09-29
490       491          783    10074   2021-2-24    2021-03-18
525       526           55    10434   2021-5-16    2021-05-22
531       532          523    11590    2021-9-8    2021-09-20
536       537          203    10838   2021-2-14    2021-03-13
537       538          754    11543    2021-1-4    2021-01-26
588       589          692    11378   2021-6-25    2021-07-20
612       613          682    10501   2021-5-23    2021-06-07
625       626          348    10193   2021-9-30    2021-10-17
639       640          873    11002   2021-1-23    2021-01-26
646       647          439    10912    2021-2-6    2021-02-11
663       664           21    11960    2021-1-7    2021-01-20
669       670            1    10246    2021-3-6    2021-04-01
681       682          454    11469   2021-2-28    2021-03-18
704       705          107    11686   2021-1-14    2021-01-25
711       712          474    11718   2021-8-18    2021-08-29
727       728          526    10662   2021-8-29    2021-08-30
844       845          457    11229   2021-4-25    2021-05-22
860       861          315    11565   2021-5-31    2021-06-20
868       869          605    11108   2021-9-25    2021-10-20
870       871          550    10888   2021-9-24    2021-10-08
886       887          669    10969   2021-1-27    2021-02-20
939       940          813    11980   2021-9-11    2021-10-04
944       945           54    11172    2021-7-4    2021-07-22
958       959          565    10777   2021-1-17    2021-02-10
971       972          117    10698   2021-7-22    2021-08-08
975       976          778    11014  2021-10-15    2021-11-04
983       984          359    10390   2021-9-23    2021-09-30

In [18]:
clean_data= df[(df['payment']<max_val) & (df['payment']>min_val)]
clean_data

     order_id  customer_id  payment order_date delivery_date
0           1           64    30811  2021-8-30    2021-09-24
1           2          473    50490   2021-2-3    2021-02-13
2           3          774    46763  2021-10-8    2021-11-03
3           4          433    39782   2021-5-6    2021-05-19
4           5          441    14719  2021-3-23    2021-03-24
..        ...          ...      ...        ...           ...
995       996          345    37843  2021-1-13    2021-02-02
996       997          346    53831  2021-1-18    2021-01-31
997       998          407    53308   2021-5-5    2021-05-21
998       999          428    31643  2021-6-15    2021-07-12
999      1000          896    27836   2021-4-7    2021-04-24

[900 rows x 5 columns]

In [22]:
clean_data.head()
clean_data.describe()

          order_id  customer_id       payment
count   900.000000   900.000000    900.000000
mean    502.097778   506.187778  33888.556667
std     288.088077   275.913246  13017.394050
min       1.000000     1.000000  12033.000000
25%     254.500000   282.000000  22748.500000
50%     505.500000   509.000000  33697.500000
75%     755.250000   736.000000  44825.250000
max    1000.000000  1000.000000  57006.000000